<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Car recommendation">
    <meta name="author" content="MinSeok Kim">

    <title>Find your car!</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/static/css/landing-page.min.css" rel="stylesheet">
    <link href="/static/css/trial.min.css" rel="stylesheet">
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-light bg-white static-top">
      <div class="container">
        <a class="navbar-brand" href="/">FindYourCar</a>
        <a class="btn btn-primary" href="/">Team 5</a>
      </div>
    </nav>

    <!-- Masthead -->
    <header class="testimonials text-black text-center bg-light">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Find your car by most important attributes!</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form action="/attribute_cars", method="POST">
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">

                  <div class="form-group">
                    <select name="form-control-select" id="form-control-select"  class="multiselect-ui form-control" multiple="multiple">
                        <option value="safety">safety</option>
                        <option value="luxury">luxury</option>
                        <option value="cozy">cozy</option>
                        <option value="economic">economic</option>
                        <option value="performance">performance</option>
                        <option value="mileage">mileage</option>
                        <option value="modern">modern</option>
                        <option value="family">family</option>
                        <option value="antique">antique</option>
                        <option value="sporty">sporty</option>
                        <option value="compact">compact</option>
                        <option value="high-tech">high-tech</option>
                        <option value="interior">interior</option>
                        <option value="exterior">exterior</option>
                        <option value="storage">storage</option>
                    </select>

                  </div>

                </div>
                <div class="col-12 col-md-3">
                  <button type="submit"  class="btn btn-block btn-lg btn-primary">Search!</button>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-l$('.selectpicker').selectpicker();ight text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-screen-desktop m-auto text-primary"></i>
              </div>
              <h3>Show All in One</h3>
              <p class="lead mb-0">You will find your best-fit car by once-looking.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-layers m-auto text-primary"></i>
              </div>
              <h3>No More articles</h3>
              <p class="lead mb-0">Tired of reading so many articles in the web? use ours!</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-check m-auto text-primary"></i>
              </div>
              <h3>Easy to Use</h3>
              <p class="lead mb-0">Ready to go with various kinds of cars!</p>
            </div>
          </div>
        </div>
      </div
    </section>

    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">Why do we recommend this system?</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="/static/img/testimonials-1.jpg" alt="">
              <h5>Diane H. Kim</h5>
              <p class="font-weight-light mb-0">"We serve you various kinds of cars"</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="/static/img/testimonials-2.jpg" alt="">
              <h5>MinSeok Kim</h5>
              <p class="font-weight-light mb-0">"You can find your best-fit car ever using our service!"</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="/static/img/testimonials-3.jpg" alt="">
              <h5>Yunjong Kim</h5>
              <p class="font-weight-light mb-0">"No more wasting your time!"</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="/static/img/testimonials-4.jpg" alt="">
              <h5>Kiyoon Park</h5>
              <p class="font-weight-light mb-0">"Easy comparison, from now."</p>
            </div>
          </div>
        </div>
      </div>
    </section>




    <!-- Call to Action -->
    <section class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Already have one in mind? Search similar cars!</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form action="/compare_cars", method="POST">
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <div class="dropdown">
                    <select name="car" class="form-control" >
                        <option value="Toyota_Mirai">Toyota_Mirai</option>
                        <option value="alfa romeo 147">alfa romeo 147</option>
                        <option value="Mazda5">Mazda5</option>
                        <option value="audi s8">audi s8</option>
                        <option value="Mercedes_CL-Class">Mercedes_CL-Class</option>
                        <option value="alfa romeo 159">alfa romeo 159</option>
                        <option value="Nissan_Juke">Nissan_Juke</option>
                        <option value="Mercedes_S-Class">Mercedes_S-Class</option>
                        <option value="sudi s1">sudi s1</option>
                        <option value="Mercedes_SLS_AMG">Mercedes_SLS_AMG</option>
                        <option value="Mercedes_M-Class">Mercedes_M-Class</option>
                        <option value="Maserati_GranTurismo">Maserati_GranTurismo</option>
                        <option value="Volvo_S60">Volvo_S60</option>
                        <option value="RollsRoyce_Phantom">RollsRoyce_Phantom</option>
                        <option value="Volvo_C70">Volvo_C70</option>
                        <option value="audi s6">audi s6</option>
                        <option value="Mercedes_GL-Class">Mercedes_GL-Class</option>
                        <option value="Mercedes_E-Class">Mercedes_E-Class</option>
                        <option value="audi s3">audi s3</option>
                        <option value="Volkswagen_Golf">Volkswagen_Golf</option>
                        <option value="Maserati_GranCabrio">Maserati_GranCabrio</option>
                        <option value="alpina b6">alpina b6</option>
                        <option value="Nissan_370Z">Nissan_370Z</option>
                        <option value="abarth 124">abarth 124</option>
                        <option value="Mazda_CX-7">Mazda_CX-7</option>
                        <option value="kia niro">kia niro</option>
                        <option value="audi sq5">audi sq5</option>
                        <option value="audi rs7">audi rs7</option>
                        <option value="aston martin virage">aston martin virage</option>
                        <option value="bmw 3series">bmw 3series</option>
                        <option value="Mazda3">Mazda3</option>
                        <option value="jeep wrangler">jeep wrangler</option>
                        <option value="bentley flying spur">bentley flying spur</option>
                        <option value="audi a8">audi a8</option>
                        <option value="Lexus_LC">Lexus_LC</option>
                        <option value="Nissan_Qashqai+2">Nissan_Qashqai+2</option>
                        <option value="alpina b4">alpina b4</option>
                        <option value="jaguar xj">jaguar xj</option>
                    </select>
                  </div>

                </div>
                <div class="col-12 col-md-3">
                  <button type="submit"  class="btn btn-block btn-lg btn-primary">Search!</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; FindYourCar 2017. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-twitter fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendor/jquery/trial.min.js"></script>

<script type="text/javascript">
$(function() {
    $('.multiselect-ui').multiselect({
        includeSelectAllOption: true
    });
});

$(document).ready(function() {

  var last_valid_selection = null;

  $('#form-control-select').change(function(event) {

    if ($(this).val().length > 2) {

      $(this).val(last_valid_selection);
    } else {
      last_valid_selection = $(this).val();
    }
  });
});
</script>

  </body>

</html>
